body {
    background-color: #131415;
    margin: 0;
    padding: 0;
    font: 13px/18px 'Open Sans', serif;
    letter-spacing: 0.2px;
    color: #9E9E9E;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: #FAFAFA;
    font-weight: bold;
}

a span {
    color: #9E9E9E;
}

.funny-me {
    float: left;
    width: 300px;
}

.left-box {
    float:left;
    widt: 300px;
}

#content {
    width: 760px;
    margin: 120px auto;
}

.data {
    width: 400px;
    float: right;
}

.contact {
    padding: 30px;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    color: #ECEFF1;
    margin: 10px 0;
}

.heading {
    margin-bottom: 24px;
    margin-top: 24px;
}

.part {
    padding: 30px 0;
    border-bottom: 1px solid #28282a;
}

.logo {
    width: 80px;
    float: right;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    margin: 0 14px 0 20px;
}
