body {
    background-color: #131415;
    margin: 0;
    padding: 0;
    font: 13px/18px 'Open Sans', serif;
    letter-spacing: 0.2px;
    color: #9E9E9E;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: #FAFAFA;
    font-weight: bold;
}

a span {
    color: #9E9E9E;
}

#content {
    width: 900px;
    margin: 120px auto;
}

#content:after {
    clear: both;
    content: " ";
    display: block;
}

.left-box {
    width: 500px;
    float: left;
}

.right-box {
    float: right;
    width: 320px;
}

.left-box > div, .right-box > div {
    padding: 30px 0;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    color: #ECEFF1;
    margin: 10px 0;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    color: #ECEFF1;
    margin: 10px 0;
}

.b-border {
    border-bottom: 1px solid #28282a;
}

.logo {
    width: 80px;
    float: right;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    margin: 0 14px 0 20px;
}
