body {
    background-image: -webkit-linear-gradient(rgba(26, 24, 42, 1.0), rgba(26, 24, 42, 0.75)), url(../../images/background.jpg);
    background-image: -o-linear-gradient(rgba(26, 24, 42, 1.0), rgba(26, 24, 42, 0.75)), url(../../images/background.jpg);
    background-image: -moz-linear-gradient(rgba(26, 24, 42, 1.0), rgba(26, 24, 42, 0.75)), url(../../images/background.jpg);
    background-image: linear-gradient(rgba(26, 24, 42, 1.0), rgba(26, 24, 42, 0.75)), url(../../images/background.jpg);
}

a, .highlight {
    color: #f60043;
}

#header .container .menu-logo span {
    color: white;
    background-color: #f60043;
}

#header.secondary {
    /* background-color: #f60043; */
    background-color: rgba(246, 0, 67, 0.75);
}

#header.secondary .container .menu-logo span {
    background-color: #1a182a;
}

#header.secondary .container .menu-logo:hover span {
    color: #f60043;
}

#content .container .profile {
    border: 2px solid #f60043;
}
